# this config assumes a mysql database named 'orthomcl'.  adjust according
# to your situation.
dbVendor=mysql
#if the mysql DB is in the same host: `dbi:mysql:database_name:3306`
#dbConnectString=dbi:mysql:orthoMCL:3307
#if not, it should be `dbi:mysql:database_name:host:3306`
dbConnectString=dbi:mysql:orthoMCL:where.is.my.db.com:3306
dbLogin=user
dbPassword=pass
similarSequencesTable=SimilarSequences
orthologTable=Ortholog
inParalogTable=InParalog
coOrthologTable=CoOrtholog
interTaxonMatchView=InterTaxonMatch
percentMatchCutoff=50
evalueExponentCutoff=-5
oracleIndexTblSpc=NONE